body {
    
    /* ここから共通設定 */
    
    background-color: gray;
    margin: 0;
    
    .inner {
        width: 1280px;
        margin: auto;
    }
    
    li {
        list-style: none;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    /* ここからheader */
        
    header {
        width: 100%;
        height: 138px;
        font-family: sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        background-color: rgba(255, 255, 255, 0.6);
        position: fixed;
        top: 0;
        z-index: 100;
        transition: .6s;
        
        h1 {
            font-size: 50px;
            position: absolute;
            width: 220px;
            font-weight: 100;
            left: 50%;
            margin: 0 0 0 -110px;
            line-height: 138px;
            text-align: center;
            
        }
        
        li {
            float: left;
        }
        
        .header-menu {
            padding-top: 56px;
            padding-left: 0;
            margin: auto;
            text-align: center;
        }
        
        .header-left {
            float: left;
        }
        
        .header-left li {
            margin-right: 20px;
        }
        
        .header-right {
            float: right;
        }
        
        .header-right li {
            margin-left: 30px;
        }
        
        .small-link {
            font-size: 13px;
            border: 1px solid black;
            padding: 0;
            margin-top: -13px;
        }
        
        .small-link a {
            display: block;
            padding: 5px;
        }
        
        .icon-link {
            font-size: 30px;
            margin: 0 0 0 30px;
        }
        
    }
    
    /* 下のクラスはヘッダのアニメーション用 */
         
    .fixed {
        height: 70px;
        
        h1 {
            display: none;
        }
        
        .header-menu {
            padding-top: 20px;
            
        }
    }
        
    /* ここからカルーセル */
    
    .carousel {
        height: 840px;
        background-color: gray;
        width: 100%;
        overflow: hidden;
        z-index: 0;
        position: fixed;
        
        ul {
            margin: 0;
            padding: 0;
        }
        
        img {
            width: 100%;
        }
        
        .slick-dots {
            position: relative;
            bottom: 300px;
        }
        
        .dots-wrapper {
            height: 20px;
            width: 100%;
        }
    }
    
    .carousel-blank {
        height: 840px;
    }
    
    /* ここからsnap */
    
    .snap {
        background-color: red;
        height: 1000px;
        position: relative;
    }
    
    /* ここからfooter */
    
    footer {
        background-color: white;
        height: 196px;
        padding: 0 0 53px 0;
        position: relative;
        
        ul {
            width: 400px; /* 子要素がfloatしてるのでulに高さはない */
            margin: auto;
        }
        
        li {
            padding: 0 45px;
            float: left;
        }
        
        i {
            font-size: 44px;
        }
        
        h1 {
            clear: both;
            text-align: center;
        }
        
        .sns {
            padding: 53px 0;
        }
    }
    
}