

body {
    
    /* ここから共通設定 */
    
    margin: 0;
    
    .inner {
        width: 1280px;
        margin: auto;
    }
    
    li {
        list-style: none;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    /* ここからheader */
        
    header {
        width: 100%;
        height: 138px;
        font-family: sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        background-color: rgba(255, 255, 255, 0.6);
        position: fixed;
        top: 0;
        z-index: 100;
        transition: .6s;
        
        h1 {
            font-size: 50px;
            position: absolute;
            width: 220px;
            font-weight: 100;
            left: 50%;
            margin: 0 0 0 -110px;
            line-height: 138px;
            text-align: center;
            
        }
        
        li {
            float: left;
        }
        
        .header-menu {
            padding-top: 56px;
            padding-left: 0;
            margin: auto;
            text-align: center;
        }
        
        .header-left {
            float: left;
        }
        
        .header-left li {
            margin-right: 20px;
        }
        
        .header-right {
            float: right;
        }
        
        .header-right li {
            margin-left: 30px;
        }
        
        .small-link {
            font-size: 13px;
            border: 1px solid black;
            padding: 0;
            margin-top: -13px;
        }
        
        .small-link a {
            display: block;
            padding: 5px;
        }
        
        .icon-link {
            font-size: 30px;
            margin: 0 0 0 30px;
        }
        
    }
    
    /* 下のクラスはヘッダのアニメーション用 */
         
    .fixed {
        height: 70px;
        
        h1 {
            display: none;
        }
        
        .header-menu {
            padding-top: 20px;
            
        }
    }
        
    /* ここからカルーセル */
    
    .carousel {
        height: 840px;
        background-color: gray;
        width: 100%;
        overflow: hidden;
        z-index: -10;
        position: fixed;
        
        ul {
            margin: 0;
            padding: 0;
        }
        
        img {
            width: 100%;
        }
        
        .slick-dots {
            position: relative;
            bottom: 300px;
        }
        
        .dots-wrapper {
            height: 20px;
            width: 100%;
        }
    }
    
    .carousel-blank {
        height: 840px;
    }
    
    /* ここからsnap */
    
    .snap {
        background-color: #454545;
        height: 700px;
        padding: 5px;
        
        .snap-box {
            height: 100%;
            float: left;
        }
        
        .snap-left {
            width: 25%;
            
            li {
                width: 100%;
            }
        }
        
        .snap-title {
            display: table;
            width: 25%;
            color: white;
            text-align: center;
            letter-spacing: 2px;
            
            .title-inner {
                display: table-cell;
                vertical-align: middle;
                
                h2 {
                    display: block;
                }
                
                a {
                    display: block;
                    color: inherit;
                    border: solid 2px white;
                    padding: 10px 0;
                    margin: auto;
                    width: 200px;
                }
            }
        }
        
        .snap-right {
            width: 50%;
            
            li {
                width: 48%; /* ここなんで50%だとうまくいかないのか謎 */
            }
        }
        
        .snap-list {
            width: 100%;
            padding: 0;
            height: 100%;
            
            li {
                height: 50%;
                margin: 5px;
                float: left;
                overflow: hidden;
                
                a {
                    display: block;
                    position: relative;
                    height: 100%;
                    
                    img {
                        height: 100%;
                    }
                    
                    .mask {
                        display: table;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 102%;
                        height: 102%;
                        background-color: rgba(69,69,69,0.9);
                        opacity: 0;
                        transition: all 0.3s;
                        
                        p {
                            display:table-cell;
                            vertical-align: middle;
                            color: white;
                            padding: 40px;
                        }
                    }
                }
            }
            
            li:hover {
                .mask {
                    opacity: 1;
                }
            }
        }
    }
    
    /* ここからfooter */
    
    footer {
        background-color: white;
        height: 196px;
        padding: 0 0 53px 0;
        position: relative;
        
        ul {
            width: 400px; /* 子要素がfloatしてるのでulに高さはない */
            margin: auto;
        }
        
        li {
            padding: 0 45px;
            float: left;
        }
        
        i {
            font-size: 44px;
        }
        
        h1 {
            clear: both;
            text-align: center;
        }
        
        .sns {
            padding: 53px 0;
        }
    }
    
}